.countContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countButton {
    padding: 3px;
    margin: 2rem;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

.countContainer h4 {
    font-size: 1.3rem;
}

.buttonCartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.buttonCart {
    padding: 1.5rem;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #91c612;
    font-size: 1.2rem;
    background-color: #91c612;
    cursor: pointer;
}

.buttonCart:hover {
    background-color: #6c940e;
}