.cartTitle {
  padding: 2rem;
  color: #fff;
  background-color: #91c612;
  text-align: center;
}

.carritoVacio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-bottom: 50px;
}

.carritoVacio h1 {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.carritoVacio a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  background-color: #91c612;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.3s;
}

.carritoVacio a:hover {
  background-color: #6c940e;
}

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.actionsContainer button {
  padding: 30px;
  border-radius: 20px;
  border: none;
  background-color: #ccc;
  font-size: 20px;
  transition: background-color 0.3s;
  color: #000;
}

.actionsContainer button:hover {
  background-color: #aaa;
}

.buyNow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buyNow h3 {
  background-color: #ccc;
  padding: 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 20px;
}

.buyNow a {
  color: #000;
  background-color: #91c612;
  text-decoration: none;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background-color 0.3s;
}

.buyNow a:hover {
  background-color: #6c940e;
}
