.detailsTitle {
  padding: 1rem;
  background-color: #91c612;
  text-align: center;
  color: #fff;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
