--left
--right
--top
---width

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

.logo a {
    width: 50%;
}

.logo a h1 {
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.logo a h1 span {
    color: #91c612;
    cursor: pointer
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar ul li {
    padding: 1rem;
}

.navbar ul li a {
    width: 100%;
    height: 100%;
}

.active {
    border-radius: 20px;
    background-color: #6c940e;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 1.2rem;
    font-weight: bold;
}

.inactive {
    color: #000;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 1.2rem;
    font-weight: bold;
}

.boxNavLinks {
    position: absolute;
    background-color: #6c940e;
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    top: var(--top);
    left: var(--left);
    width: var(--width);
    height: var(--height);
    z-index: -10;
}